@import "reset";
@import "fonts";
:root {
    --main-color: #572C6B;
    --accent-color: #F3822D;
    --background: #FAFAFA;
    --background-header: rgba(250, 250, 250, 0.8);
    --text-color: #808080;
    --dark-text: #464646;
}

body{
    font-family: "Unbounded", sans-serif;
    font-size: clamp(0.88rem, calc(0.76rem + 0.59vw), 1.25rem);
    font-weight: 400;
    height: 100%;
    color: var(--text-color);
}
a:hover{
    color: inherit;
}
h1{
    font-family: "Gilroy", sans-serif;
    font-size: clamp(1.75rem, calc(0.97rem + 3.92vw), 4.25rem);
}
h2{
    display: block;
    position: relative;
    font-family: "Gilroy", sans-serif;
    font-size: clamp(1.25rem, calc(0.68rem + 2.84vw), 2.5rem);
    font-weight: 500;
    text-transform: uppercase;
    padding: 9px 0;
    max-width:fit-content;
    margin-left: auto;
    margin-right: auto;
    &::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--text-color);
        bottom: 0;
        left: 0;
    }
    &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--text-color);
        top: 0;
        left: 0;
    }
}
.subtitle {
    font-weight: 300;
    text-align: center;
    max-width: 749px;
    margin: clamp(1.63rem, calc(0.91rem + 3.57vw), 3.13rem) auto clamp(2rem, calc(-0.02rem + 10.12vw), 6.25rem);
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}
.main{
    flex: 1 1 auto;
}
.main-form{
    max-width: 544px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 14px;
    p {
        margin: 0;
    }
    input, textarea{
        width: 100%;
        padding: 16px 30px;
        border-radius: 31px;
        font-size: 20px;
        background: var(--background);
        border: 2px solid #D9D9D9;
        color: var(--dark-text);
        outline: none;
        font-family: "Unbounded", sans-serif;
        &::placeholder{
            color: var(--text-color);
        }
    }
    textarea{
        min-height: 150px;
        resize: vertical;
    }
    input[type="submit"]{
        background-color: var(--accent-color);
        color: var(--background);
        border: 1px solid var(--accent-color);
        border-radius: 4px;
        padding: 21px 58px;
        letter-spacing: 0.1rem;
        width: fit-content;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover{
            background-color: transparent;
            color: var(--accent-color);
        }
    }
}
.container{
    max-width: 1340px;
    padding: 0 10px;
    margin: 0 auto;
}

.vacancies-job{
    position: relative;
    padding-left: 38px;
    &::after{
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 28px;
        height: 28px;
        background: url('data:image/svg+xml,<svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.0618 9.50608C18.0618 7.71322 18.0618 6.81774 17.5047 6.26067C16.9476 5.70361 16.0522 5.70361 14.2593 5.70361C12.4664 5.70361 11.5709 5.70361 11.0139 6.26067C10.4568 6.81774 10.4568 7.71322 10.4568 9.50608M4.75311 16.1604C4.75311 13.4901 4.75311 12.1555 5.39383 11.1963C5.67132 10.7809 6.02794 10.4243 6.44331 10.1468C7.40248 9.50608 8.7362 9.50608 11.4074 9.50608H17.1111C19.7814 9.50608 21.1161 9.50608 22.0753 10.1468C22.4906 10.4243 22.8472 10.7809 23.1247 11.1963C23.7655 12.1555 23.7655 13.4892 23.7655 16.1604C23.7655 18.8316 23.7655 20.1654 23.1247 21.1245C22.8472 21.5399 22.4906 21.8965 22.0753 22.174C21.1161 22.8147 19.7824 22.8147 17.1111 22.8147H11.4074C8.73715 22.8147 7.40248 22.8147 6.44331 22.174C6.02794 21.8965 5.67132 21.5399 5.39383 21.1245C4.75311 20.1654 4.75311 18.8316 4.75311 16.1604Z" stroke="%23808080" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M8.55557 13.3086L9.17537 13.5006C12.489 14.5132 16.0295 14.5132 19.3432 13.5006L19.963 13.3086M14.2593 14.2592V16.1604" stroke="%23808080" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center center / contain;
    }
}
.vacancies-location{
    position: relative;
    padding-left: 38px;
    &::after{
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 28px;
        height: 28px;
        background: url('data:image/svg+xml,<svg width="29" height="30" viewBox="0 0 29 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.9329 10.3217C16.9329 8.84515 15.7359 7.64813 14.2593 7.64813C12.7827 7.64813 11.5857 8.84515 11.5857 10.3217C11.5857 11.7983 12.7827 12.9954 14.2593 12.9954C15.7359 12.9954 16.9329 11.7983 16.9329 10.3217ZM18.7153 10.3217C18.7153 12.7827 16.7203 14.7778 14.2593 14.7778C11.7983 14.7778 9.80325 12.7827 9.80325 10.3217C9.80325 7.86075 11.7983 5.86572 14.2593 5.86572C16.7203 5.86572 18.7153 7.86075 18.7153 10.3217Z" fill="%23808080"/><path d="M14.2591 1.40967C20.209 1.40967 25.1486 7.37789 22.2085 14.2381C20.8529 17.4011 19.052 20.7754 17.5976 23.3486C16.8691 24.6374 16.2239 25.7298 15.7612 26.5009C15.5298 26.8865 15.3449 27.1931 15.2164 27.4025C15.1522 27.5072 15.1024 27.5879 15.0684 27.6427C15.0515 27.6701 15.0372 27.6912 15.0284 27.7054C15.0242 27.7122 15.0202 27.7175 15.018 27.7211L15.0162 27.7245L15.0145 27.7263C14.8516 27.9869 14.5663 28.1458 14.2591 28.1458C13.9519 28.1457 13.6664 27.9868 13.5036 27.7263L13.5019 27.7245L13.5001 27.7211C13.4979 27.7174 13.494 27.7123 13.4897 27.7054C13.4809 27.6913 13.4682 27.6699 13.4514 27.6427C13.4175 27.588 13.3675 27.507 13.3034 27.4025C13.175 27.1931 12.9883 26.8865 12.7569 26.5009C12.2942 25.7298 11.6489 24.6373 10.9205 23.3486C9.46621 20.7756 7.66686 17.4009 6.31133 14.2381C3.37126 7.37798 8.30923 1.40981 14.2591 1.40967ZM14.2591 3.19208C9.5147 3.19222 5.54243 7.91851 7.94926 13.5349C9.26726 16.6103 11.0312 19.9201 12.4732 22.4713C13.1789 23.7199 13.8047 24.7821 14.2591 25.5401C14.7134 24.7821 15.3392 23.7199 16.0449 22.4713C17.4869 19.9201 19.2526 16.6103 20.5706 13.5349C22.977 7.91863 19.0034 3.19208 14.2591 3.19208Z" fill="%23808080"/></svg>') no-repeat center center / contain;
    }
}
.location-list{
    position: relative;
    padding-left: 38px;
    &::after{
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 28px;
        height: 28px;
        background: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M28.5 16.5C28.5 14.0147 26.4853 12 24 12C21.5147 12 19.5 14.0147 19.5 16.5C19.5 18.9853 21.5147 21 24 21C26.4853 21 28.5 18.9853 28.5 16.5ZM31.5 16.5C31.5 20.6421 28.1421 24 24 24C19.8579 24 16.5 20.6421 16.5 16.5C16.5 12.3579 19.8579 9 24 9C28.1421 9 31.5 12.3579 31.5 16.5Z" fill="%23464646"/><path d="M23.9996 1.5C34.014 1.5 42.328 11.5452 37.3795 23.0918C35.0979 28.4155 32.0667 34.0948 29.6188 38.4258C28.3927 40.595 27.3067 42.4335 26.528 43.7314C26.1385 44.3805 25.8272 44.8966 25.611 45.249C25.5029 45.4252 25.4191 45.5611 25.3619 45.6533C25.3334 45.6994 25.3094 45.7349 25.2946 45.7588C25.2874 45.7702 25.2807 45.7791 25.277 45.7852L25.274 45.791L25.2711 45.7939C24.997 46.2325 24.5168 46.5 23.9996 46.5C23.4826 46.4999 23.0022 46.2324 22.7281 45.7939L22.7252 45.791L22.7223 45.7852C22.7185 45.7791 22.7119 45.7704 22.7047 45.7588C22.6899 45.7351 22.6686 45.699 22.6403 45.6533C22.5832 45.5613 22.4991 45.4248 22.3912 45.249C22.175 44.8966 21.8608 44.3805 21.4713 43.7314C20.6926 42.4336 19.6065 40.5948 18.3805 38.4258C15.9327 34.0951 12.9042 28.4151 10.6227 23.0918C5.67421 11.5454 13.9854 1.50024 23.9996 1.5ZM23.9996 4.5C16.0143 4.50024 9.32855 12.4551 13.3795 21.9082C15.5979 27.0844 18.5668 32.6553 20.9938 36.9492C22.1816 39.0507 23.2349 40.8386 23.9996 42.1143C24.7643 40.8386 25.8177 39.0508 27.0055 36.9492C29.4325 32.6553 32.4043 27.0844 34.6227 21.9082C38.673 12.4553 31.9849 4.5 23.9996 4.5Z" fill="%23464646"/></svg>') no-repeat center center / contain;
    }
}
.phone-list{
    position: relative;
    padding-left: 38px;
    &::after{
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 28px;
        height: 28px;
        background: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22 35C21.6022 35 21.2206 35.158 20.9393 35.4393C20.658 35.7206 20.5 36.1022 20.5 36.5C20.5 36.8978 20.658 37.2794 20.9393 37.5607C21.2206 37.842 21.6022 38 22 38H26C26.3978 38 26.7794 37.842 27.0607 37.5607C27.342 37.2794 27.5 36.8978 27.5 36.5C27.5 36.1022 27.342 35.7206 27.0607 35.4393C26.7794 35.158 26.3978 35 26 35H22Z" fill="%23464646"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16 4C14.8065 4 13.6619 4.47411 12.818 5.31802C11.9741 6.16193 11.5 7.30653 11.5 8.5V39.5C11.5 40.6935 11.9741 41.8381 12.818 42.682C13.6619 43.5259 14.8065 44 16 44H32C33.1935 44 34.3381 43.5259 35.182 42.682C36.0259 41.8381 36.5 40.6935 36.5 39.5V8.5C36.5 7.30653 36.0259 6.16193 35.182 5.31802C34.3381 4.47411 33.1935 4 32 4H16ZM14.5 8.5C14.5 8.10218 14.658 7.72064 14.9393 7.43934C15.2206 7.15804 15.6022 7 16 7H32C32.3978 7 32.7794 7.15804 33.0607 7.43934C33.342 7.72064 33.5 8.10218 33.5 8.5V39.5C33.5 39.8978 33.342 40.2794 33.0607 40.5607C32.7794 40.842 32.3978 41 32 41H16C15.6022 41 15.2206 40.842 14.9393 40.5607C14.658 40.2794 14.5 39.8978 14.5 39.5V8.5Z" fill="%23464646"/></svg>') no-repeat center center / contain;
    }
}
.email-list{
    position: relative;
    padding-left: 38px;
    &::after{
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 28px;
        height: 28px;
        background: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32.2944 27.9095C32.2944 29.4215 32.7246 30.0245 33.8496 30.0245C36.357 30.0245 37.9536 26.8295 37.9536 21.5159C37.9536 13.3943 32.0352 9.50635 24.6462 9.50635C17.0448 9.50635 10.131 14.6039 10.131 24.2375C10.131 33.4391 16.179 38.4503 25.467 38.4503C28.6206 38.4503 30.7374 38.1047 33.9756 37.0247L34.6704 39.9173C31.4736 40.9559 28.0572 41.2565 25.4238 41.2565C13.2414 41.2565 6.7164 34.5605 6.7164 24.2357C6.7164 13.8245 14.2782 6.73975 24.6894 6.73975C35.5326 6.73975 41.2764 13.2197 41.2764 21.1685C41.2764 27.9077 39.1614 33.0485 32.5086 33.0485C29.4828 33.0485 27.4974 31.8389 27.2382 29.1587C26.4606 32.1395 24.387 33.0485 21.5772 33.0485C17.8188 33.0485 14.6652 30.1523 14.6652 24.3221C14.6652 18.4469 17.4318 14.8181 22.3998 14.8181C25.035 14.8181 26.6766 15.8549 27.4074 17.4965L28.662 15.2069H32.2908V27.9095H32.2944ZM26.9826 22.2071C26.9826 19.8329 25.2096 18.8375 23.7408 18.8375C22.1424 18.8375 20.373 20.1317 20.373 23.9351C20.373 26.9591 21.7122 28.6439 23.7408 28.6439C25.1664 28.6439 26.9826 27.7367 26.9826 25.2311V22.2071Z" fill="%23464646"/></svg>') no-repeat center center / contain;
    }
}
.telegram-list{
    position: relative;
    padding-left: 38px;
    &::after{
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 28px;
        height: 28px;
        background: url('data:image/svg+xml,<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M39.1049 5.99386C38.6235 6.02957 38.151 6.14252 37.7054 6.32836H37.6994C37.2719 6.49786 35.2394 7.35286 32.1494 8.64886L21.0764 13.3124C13.1309 16.6574 5.32043 19.9514 5.32043 19.9514L5.41343 19.9154C5.41343 19.9154 4.87493 20.0924 4.31243 20.4779C3.96414 20.698 3.66492 20.9875 3.43343 21.3284C3.15743 21.7334 2.93543 22.3529 3.01793 22.9934C3.15293 24.0764 3.85493 24.7259 4.35893 25.0844C4.86893 25.4474 5.35493 25.6169 5.35493 25.6169H5.36693L12.6914 28.0844C13.0199 29.1389 14.9234 35.3969 15.3809 36.8384C15.6509 37.6994 15.9134 38.2379 16.2419 38.6489C16.3989 38.8589 16.5884 39.0344 16.8104 39.1754C16.9257 39.2447 17.0499 39.2982 17.1794 39.3344L17.1044 39.3164C17.1269 39.3224 17.1449 39.3404 17.1614 39.3464C17.2214 39.3629 17.2619 39.3689 17.3384 39.3809C18.4979 39.7319 19.4294 39.0119 19.4294 39.0119L19.4819 38.9699L23.8064 35.0324L31.0544 40.5929L31.2194 40.6634C32.7299 41.3264 34.2599 40.9574 35.0684 40.3064C35.8829 39.6509 36.1994 38.8124 36.1994 38.8124L36.2519 38.6774L41.8529 9.98386C42.0119 9.27586 42.0524 8.61286 41.8769 7.96936C41.6968 7.31765 41.2788 6.75721 40.7054 6.39886C40.2246 6.10636 39.667 5.96525 39.1049 5.99386ZM38.9534 9.06886C38.9474 9.16336 38.9654 9.15286 38.9234 9.33436V9.35086L33.3749 37.7459C33.3509 37.7864 33.3104 37.8749 33.1994 37.9634C33.0824 38.0564 32.9894 38.1149 32.5019 37.9214L23.6369 31.1249L18.2819 36.0059L19.4069 28.8209L33.8909 15.3209C34.4879 14.7659 34.2884 14.6489 34.2884 14.6489C34.3304 13.9679 33.3869 14.4494 33.3869 14.4494L15.1229 25.7639L15.1169 25.7339L6.36293 22.7864V22.7804L6.34043 22.7759L6.38543 22.7579L6.43343 22.7339L6.47993 22.7174C6.47993 22.7174 14.2964 19.4234 22.2419 16.0784C26.2199 14.4029 30.2279 12.7154 33.3104 11.4134C35.1385 10.6439 36.9686 9.87886 38.8004 9.11836C38.9234 9.07036 38.8649 9.06886 38.9534 9.06886Z" fill="%23464646"/></svg>') no-repeat center center / contain;
    }
}
.vacancies-salary{
    position: relative;
    padding-left: 38px;
    &::after{
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 28px;
        height: 28px;
        background: url('data:image/svg+xml,<svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.8843 3.63623L12.5666 7.0495L13.1056 7.34464L17.8367 4.30785L25.8612 8.85325L21.2585 11.8076L21.4827 11.9304V12.3049L25.0878 9.9907L25.8445 10.4193L21.4826 13.2191V13.8602L25.0172 11.5913L25.8445 12.06L21.4826 14.8597V15.5008L25.0172 13.232L25.8445 13.7007L21.4826 16.5004V17.1415L26.9532 13.63L25.5954 12.861L26.9531 11.9895L25.5953 11.2203L26.9531 10.3488L25.6659 9.61964L26.9698 8.78265L17.8843 3.63623ZM19.5833 6.08295C18.4328 6.66023 16.9003 6.7579 15.8213 6.32264L13.712 7.67654L20.652 11.4757L22.6526 10.1916C21.8646 9.5695 21.9302 8.64123 22.8135 7.91279L19.5833 6.08295ZM12.4416 8.10332L8.57588 10.6241L15.9921 14.8933L16.0648 14.8468C16.2015 14.7588 16.3946 14.6341 16.6249 14.4852C17.0854 14.1875 17.6947 13.7928 18.3024 13.3991C19.1775 12.832 19.6284 12.5394 20.0478 12.2674L12.4416 8.10332ZM18.7562 8.16731H18.7564C18.9313 8.16838 19.0917 8.20586 19.2114 8.27368C19.2811 8.31314 19.3351 8.36182 19.3705 8.41693C19.4058 8.47205 19.4217 8.53252 19.4173 8.59489C19.4129 8.65727 19.3882 8.72032 19.3447 8.78045C19.3012 8.84058 19.2398 8.89662 19.1638 8.94535C19.0879 8.99408 18.999 9.03456 18.9022 9.06448C18.8054 9.0944 18.7026 9.11317 18.5996 9.11972C18.4967 9.12627 18.3956 9.12047 18.3022 9.10266C18.2088 9.08485 18.1248 9.05536 18.0551 9.01589C17.9144 8.93619 17.8404 8.82067 17.8493 8.69472C17.8583 8.56878 17.9494 8.44274 18.1027 8.34433C18.1898 8.28843 18.2938 8.24348 18.4069 8.21282C18.5201 8.18217 18.6395 8.16661 18.7562 8.16731ZM6.81123 10.7439L1.04689 14.4438L2.33407 15.1729L1.03021 16.0099L2.38799 16.779L1.03021 17.6506L2.38799 18.4197L1.03021 19.2913L10.1157 24.4377L15.6011 20.9166V20.2757L10.1634 23.766L2.13884 19.2206L2.91841 18.7202L10.1157 22.797L15.6011 19.276V18.635L10.1634 22.1254L2.13884 17.58L2.91841 17.0796L10.1157 21.1564L15.6011 17.6354V16.9944L10.1634 20.4848L2.13884 15.9393L2.86454 15.4734L10.1325 19.5903L15.6011 16.08V15.8038L15.3014 15.6313L10.1799 18.9186L2.15563 14.3732L7.33781 11.0469L6.81117 10.7437L6.81123 10.7439ZM7.93013 11.3881L5.3642 13.035C6.15224 13.6571 6.08662 14.5853 5.20331 15.3139L8.43359 17.1437C9.58405 16.5664 11.1164 16.4688 12.1954 16.904L14.7091 15.2905L7.93003 11.3881L7.93013 11.3881ZM20.4983 13.1485C20.0583 13.4338 19.6704 13.6857 18.8378 14.2252C18.2785 14.5878 17.7191 14.95 17.1594 15.312C16.9288 15.461 16.7353 15.586 16.5973 15.6747C16.5924 15.678 16.5904 15.6791 16.5856 15.6822V20.3812L20.4983 17.7513L20.4983 13.1485ZM9.50661 14.1045C9.68153 14.1055 9.84189 14.1431 9.96161 14.2109C10.1023 14.2906 10.1763 14.4062 10.1674 14.5321C10.1585 14.658 10.0674 14.7841 9.91403 14.8825C9.76072 14.9809 9.5578 15.0436 9.34993 15.0568C9.14205 15.07 8.94622 15.0327 8.80552 14.953C8.66482 14.8733 8.59079 14.7578 8.59971 14.6319C8.60863 14.5059 8.69978 14.3799 8.8531 14.2815C8.94017 14.2256 9.04417 14.1806 9.15733 14.15C9.27049 14.1194 9.38989 14.1038 9.50661 14.1045V14.1045Z" fill="%23808080"/></svg>') no-repeat center center / contain;
    }
}
.vacancies-сonditions{
    position: relative;
    padding-left: 38px;
    &::after{
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 28px;
        height: 28px;
        background: url('data:image/svg+xml,<svg width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.2994 2.48768L2.57483 13.2123C2.35611 13.431 2.23325 13.7277 2.23325 14.0371C2.23325 14.3465 2.35611 14.6431 2.57483 14.8619L13.3 25.5871C13.5188 25.8058 13.8155 25.9287 14.1248 25.9287C14.4342 25.9287 14.7309 25.8058 14.9497 25.5871L25.6742 14.8625C25.893 14.6437 26.0158 14.347 26.0158 14.0377C26.0158 13.7283 25.893 13.4316 25.6742 13.2128L14.9491 2.48709C14.7303 2.26838 14.4336 2.14551 14.1242 2.14551C13.8149 2.14551 13.5182 2.26838 13.2994 2.48709V2.48768Z" stroke="%23808080" stroke-width="2" stroke-linejoin="round"/><path d="M10.5 14.0371H17.5M14 10.5371V17.5371" stroke="%23808080" stroke-width="2" stroke-linecap="round"/></svg>') no-repeat center center / contain;
    }
}
.btn{
    padding: clamp(0.75rem, calc(0.48rem + 1.34vw), 1.31rem) clamp(1rem, calc(-0.25rem + 6.25vw), 3.63rem);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-wrap: wrap !important;
    width: fit-content;
    &--primary {
        background-color: var(--main-color);
        color: var(--background);
        border: 1px solid var(--main-color);
        border-radius: 4px;
        transition: all 0.3s ease;
        &:hover{
            background-color: transparent;
            color: var(--main-color);
        }
    }
    &--secondary {
        background-color: transparent;
        color: var(--main-color);
        border: 1px solid var(--main-color);
        border-radius: 4px;
        transition: all 0.3s ease;
        &:hover{
            background-color: var(--main-color);
            color: var(--background);
        }
    }
    &--accent {
        background-color: var(--accent-color);
        color: var(--background);
        border: 1px solid var(--accent-color);
        border-radius: 4px;
        transition: all 0.3s ease;
        &:hover{
            background-color: transparent;
            
            color: var(--accent-color);
        }
    }
    &.btn--grey{
        border: 1px solid var(--text-color);
        color: var(--text-color);
        &:hover{
            background-color: var(--main-color);
            border: 1px solid var(--main-color);
            color: #fff;
        }
    }
}
.card-btn {
    padding: 12px 16px;
    font-size: 12px;
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: #fff;
    border-radius: 50px;
    transition: all 0.3s ease;
    &:hover{
        background-color: transparent;
        color: var(--accent-color);
    }
}

// ========== HEADER ==========
.header{
    padding: 18px 0;
    position: fixed;
    width: 100%;
    background-color: var(--background-header);
    backdrop-filter: blur(10px);
    z-index: 999;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    ul, li{
        margin: 0;
        padding: 0;
    }
    .menu{
        display: flex;
        gap: 30px;
        list-style: none;
        font-size: clamp(0.75rem, calc(-0.06rem + 1.27vw), 1rem);
        line-height: 110%;
        color: var(--main-color);
        text-transform: uppercase;
        transition: all 0.3s ease;
        a:hover{
            color: var(--accent-color);
        }
    }
    &__logo{
        img{
            width: clamp(6.25rem, calc(1.39rem + 7.59vw), 7.75rem);
        }
    }
    &__btn{
        padding: 12px 30px;
        font-weight: 500;
        border: 1px solid var(--main-color);
        border-radius: 25px;
        color: var(--main-color);
        transition: all 0.3s ease;
        &:hover{
            background-color: var(--main-color);
            color: #fff;
        }
        &--mobile-phone{
            display: none;
            min-width: 42px;
            height: 42px;
            border: 1px solid var(--main-color);
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease;
            path {
                fill: var(--main-color);
                transition: all 0.3s ease;
            }
            &:hover{
                color: var(--accent-color);
                border: 1px solid var(--accent-color);
                path {
                    fill: var(--accent-color);
                }
            }
        }
        &--mobile-menu{
            display: none;
            cursor: pointer;
            transition: all 0.3s ease;
            path {
                fill: var(--main-color);
                transition: all 0.3s ease;
            }
            &:hover{
                path {
                    fill: var(--accent-color);
                }
            }
        }
    }
}
@media screen and (max-width: 868px) {
    .header{
        &__btn{
            display: none;
            &--mobile-phone{
                display: flex;
            }
        }
    }
}
@media screen and (max-width: 720px) {
    .header{
        padding: 7px 0;
        &__logo{
            display: block;
            margin: 0 auto;
        }
        .menu{
            display: none;
            position: absolute;
            top: -100%;
            left: 0;
            width: 100%;
            height: calc(100vh - 68px);
            background-color: var(--dark-text);
            color: var(--background);
            padding: 100px 30px;
            flex-direction: column;
            transition: all 0.3s ease;
            &.open{
                display: flex;
                top: 68px;
            }
        }
        &__btn{
            &--mobile-menu{
                display: block;
            }
        }
    }
}

// ========== HERO ==========

.hero{
    padding-top: clamp(8rem, calc(4.56rem + 5.38vw), 9.06rem);
    padding-bottom: 170px;
    background-color: var(--background);
    .container {
        position: relative;
    }
    h1{
        color: var(--main-color);
        margin-bottom: clamp(1rem, calc(-3.05rem + 6.33vw), 2.25rem);
    }
    &__wrapper{
        &--btns{
            position: relative;
            z-index: 3;
            .btn--secondary {
                background-color: var(--background);
                color: var(--main-color);
                border: 1px solid var(--main-color);
                border-radius: 4px;
                transition: all 0.3s ease;
                &:hover {
                    background-color: var(--main-color);
                    color: var(--background);
                }
            }
        }
    }
    &__info{
        max-width: clamp(17.88rem, calc(9.88rem + 40vw), 43.38rem);
    }
    &__title{
        font-size: clamp(1.25rem, calc(0.44rem + 1.27vw), 1.5rem);
        margin-bottom: clamp(2rem, calc(-2.86rem + 7.59vw), 3.5rem);
    }
    &__search{
        position: relative;
        width: 100%;
        padding: clamp(1.5rem, calc(0.89rem + 0.95vw), 1.69rem) 100px clamp(1.5rem, calc(0.89rem + 0.95vw), 1.69rem) clamp(1.5rem, calc(1.26rem + 1.18vw), 2.25rem);
        border: none;
        background-color: #fff;
        border-radius: 40px;
        outline: none;
        z-index: 9;
        label{
            width: 100%;
            span{
                position: absolute;
                top: 50%;
                left: 36px;
                transform: translateY(-50%);
                font-size: clamp(1rem, calc(0.59rem + 0.63vw), 1.13rem);
                color: var(--main-color);
                z-index: 2;
                transition: all 0.3s ease;
            }
            input[type="text"]{
                width: 100%;
                border: none;
                outline: none;
                font-size: 18px;
                color: var(--dark-text);
            }
        }
        .hero__search--btn{
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            z-index: 2;
            >input[type="button"]{
                border: none;
                background-color: var(--main-color);
                width: clamp(3.31rem, calc(0.48rem + 4.43vw), 4.19rem);
                height: clamp(3.31rem, calc(0.48rem + 4.43vw), 4.19rem);
                border-radius: 50%;
            }
            &::after{
                position: absolute;
                display: block;
                content: "";
                background: url('data:image/svg+xml,<svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.6185 0C11.3554 0 4.65602 6.69818 4.65602 14.9613C4.65602 17.8973 5.50144 20.636 6.9626 22.9468C6.95187 22.9515 6.94134 22.9557 6.93058 22.9606L0.420288 29.4697L5.95058 35L12.6953 28.2541C12.6933 28.2446 12.6906 28.2351 12.6885 28.2255C14.7604 29.3103 17.1179 29.9237 19.6185 29.9237C27.8817 29.9237 34.5798 23.2245 34.5798 14.9613C34.5797 6.69818 27.8816 0 19.6185 0ZM19.6185 6.64641C24.2105 6.64641 27.9322 10.3692 27.9322 14.9613C27.9322 19.5533 24.2105 23.2761 19.6185 23.2761C15.0264 23.2761 11.3036 19.5533 11.3036 14.9613C11.3036 10.3692 15.0264 6.64641 19.6185 6.64641Z" fill="white"/></svg>');
                width: 35px;
                height: 35px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 3;
                pointer-events: none;
            }
        }
        .options{
            position: absolute;
            background-color: #fff;
            width: 100%;
            left: 0;
            list-style: none;
            margin: 0;
            padding: 0;
            padding-bottom: 24px;
            li{
                display: block;
                margin-right: 20px;
                font-size: 18px;
                cursor: pointer;
                margin-top: 14px;
                margin-left: clamp(1.5rem, calc(1.26rem + 1.18vw), 2.25rem);
                transition: all 0.3s ease;
                &:hover{
                    color: var(--accent-color);
                }
            }
        }
        &::after{
            position: absolute;
            display: block;
            content: "";
            background: url('data:image/svg+xml,<svg width="19" height="11" viewBox="0 0 19 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.11759 0.176483C1.81515 0.176548 1.51951 0.266281 1.26806 0.434339C1.01661 0.602398 0.820634 0.841236 0.704903 1.12066C0.589173 1.40008 0.558885 1.70754 0.617871 2.00418C0.676857 2.30081 0.822467 2.5733 1.03629 2.78719L8.68335 10.4342C8.97016 10.721 9.3591 10.882 9.76465 10.882C10.1702 10.882 10.5591 10.721 10.8459 10.4342L18.493 2.78719C18.7068 2.5733 18.8524 2.30081 18.9114 2.00418C18.9704 1.70754 18.9401 1.40008 18.8244 1.12066C18.7087 0.841236 18.5127 0.602398 18.2612 0.434339C18.0098 0.266281 17.7141 0.176548 17.4117 0.176483H2.11759Z" fill="%23572C6B"/></svg>') no-repeat center center;
            z-index: 2;
            width: 19px;
            height: 11px;
            right: 100px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__countries {
        position: relative;
        margin-top: 38px;
        display: inline-flex;
        gap: 18px;
        flex-wrap: wrap;
        margin-bottom: 44px;
        max-width: clamp(17.88rem, calc(9.88rem + 40vw), 43.38rem);
        &--link{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-size: 16px;
            line-height: 16px;
            font-weight: 500;
            background-color: var(--background);
            color: var(--accent-color);
            padding: 12px 30px;
            border: 2px solid var(--accent-color);
            border-radius: 22px;
            transition: all 0.3s ease;
            &:hover{
                background-color: var(--accent-color);
                color: #fff;  
            }
        }
    }
    &__btns{
        position: relative;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__picture{
        position: absolute;
        left: 60%;
        top: -32px;
        bottom: auto;
        width: clamp(20rem, calc(4.9rem + 31.47vw), 31.25rem);
        height: clamp(25rem, calc(1.5rem + 48.95vw), 42.5rem);
        img{
            position: relative;
            border-radius: 24px;
            transform: rotate(7deg);
            transform-origin: bottom left;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 2;
        }
        div {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 24px;
            &:nth-child(2){
                transform: rotate(10deg);
                transform-origin: bottom left;
                background-color: var(--main-color);
                z-index: 1;
            }
            &:nth-child(3){
                transform: rotate(13deg);
                transform-origin: bottom left;
                background-color: var(--accent-color);
                z-index: 0;
            }
        }
        &>div:nth-child(1){
            transform: rotate(15deg);
            transform-origin: bottom left;
            background-color: var(--main-color);
        }
    }
}
.top-jobs{
    transform: translateY(-50%);
    position: relative;
    z-index: 5;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 20px;
        .top-job{
            max-width: 376px;
            width: 100%;
            padding: 5px;
            border-radius: 15px;
            background-color: #fff;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
            &__wrapper{
                padding: 16px 18px;
                border: 1px solid #D9D9D9;
                border-radius: 10px;
            }

            &__header{
                width: 100%;
                display: flex;
                justify-content: space-between;
                color: var(--main-color);
                margin-bottom: 28px;
                &>div{
                    display: flex;
                    align-items: center;
                }
                span{
                    margin-right: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-self: auto;
                }
            }
            &__descr{
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                margin-bottom: 22px;
            }
            &__date{
                font-size: 12px;
                font-weight: 300;
                color: var(--main-color);

                margin-bottom: 14px;
                span{
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    }
}

@media screen and (max-width: 946px){
    .top-jobs {
        top: -120px;
        transform: rotateY(0);
    }
    .top-jobs__wrapper{
        flex-direction: column;
        align-items: center;
    }
    .top-jobs__item{
    min-width: 100%;
}
}

@media screen and (max-width: 868px) {
    .hero__search label span{
        top: -18px;
    }
    .hero__search {
        margin-top: 50px;
    }
    .hero__countries{
        max-width: 100%;
        justify-content: center;
    }
}
@media screen and (max-width: 720px) {
    .hero__picture{
        display: none;
    }
    .hero__info{
        max-width: 100%;
    }
    .hero__btns{
        flex-wrap: wrap;
        justify-content: center;
    }
    .top-jobs__wrapper .top-job__descr{
        display: none;
    }
}
@media screen and (max-width: 440px){
    .btn {
        width: 100%;
        display: inline-block;
        padding-left: 16px;
        padding-right: 16px;
    }
    .hero__info{
        text-align: center;
    }
    .hero__title{
        margin-bottom: 62px;
    }
    .hero__info span {
        top: -28px !important;
    }
    .hero__info span, .hero__search .options {
        text-align: left;
    }
    .hero__countries--link{
        width: 100%;
    }
    .hero__search::after{
        right: 76px;
    }
}

.home-about {
    margin-top: clamp(0rem, calc(-1.65rem + 8.24vw), 5.25rem);
    h2{
        margin-bottom: clamp(1.69rem, calc(0.57rem + 5.59vw), 5.25rem);
        strong:nth-child(1){
            color: var(--main-color);
        }
        strong:nth-child(2){
            color: var(--accent-color);
        }
    }
    &__wrapper{
        position: relative;
        padding: clamp(1.69rem, calc(0.02rem + 8.33vw), 7rem) 0 63px;
        background-position: center right;
        background-size: cover;
        &--gradient{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg,rgba(236, 196, 255, 1) 0%, rgba(246, 227, 255, 1) 35%, rgba(250, 239, 255, 0.8) 61%, rgba(217, 217, 217, 0) 100%);
            z-index: 0;
        }
        .container{
            position: relative;
            z-index: 1;
        }
    }
    &__btns{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 100px;
    }
}
@media screen and (max-width: 946px) {
    .home-about {
        margin-top: -50px;
    }
    .home-about__wrapper {
        background-position: center left;
    }
    .home-about__wrapper--gradient {
        background: linear-gradient(90deg,rgba(236, 196, 255, 1) 0%, rgba(246, 227, 255, 1) 46%, rgba(250, 239, 255, 1) 69%, rgba(217, 217, 217, 0.5) 100%);
    }
}
@media screen and (max-width: 768px) {
    .home-about__wrapper{
        padding: 0;
    }
    .home-about__wrapper--gradient {
        background: #fff;
    }
    .home-about__btns{
        margin-top: clamp(1.75rem, calc(-1.46rem + 16.07vw), 6.25rem);
    }
}
.home-advantages{
    padding-top: 80px;
    h2{
        margin-bottom:  clamp(0rem, calc(-2.68rem + 13.39vw), 3.75rem);
    }
    &__item{
        display: flex;
        align-items: center;
        gap: 22px;
        padding: 15px;
        background: linear-gradient(270deg,rgba(250, 250, 250, 1) 0%, rgba(249, 249, 249, 1) 32%, rgba(218, 218, 218, 1) 100%);
        border-radius: 100px;
        margin-top: 20px;
        &--text{
            font-weight: 500;
            text-transform: uppercase;
        }
        img{
            max-width: 162px;
            max-height: 162px;
            border-radius: 50%;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
    }
    .btn{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: clamp(1.75rem, calc(0.05rem + 8.48vw), 5.31rem);
    }
}

@media screen and (max-width: 440px) {
    .home-advantages__item{
        flex-direction: column;
        align-items: center;
        border-top-left-radius: 300px;
        border-top-right-radius: 300px;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
    }
    .home-advantages__item--text{
        text-align: center;
    }
}
.home-countries{
    padding-top: clamp(3.75rem, calc(2.38rem + 6.85vw), 6.63rem);
    &__slider{
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 20px;
    }
    &__item{
        display: block;
        border-radius: 20px;
        overflow: hidden;
        height: 225px;
        width: 100%;
        &--header{
            position: relative;
            padding: 7px 20px;
            background-color: var(--main-color);
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 10px;
            align-items: center;
            color: #fff;
            z-index: 2;
            img{
                width: 24px;
                height: 24px;
                object-fit: cover;
            }
        }
        img{
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            scale: 1;
            transition: all 0.3s ease;
            z-index: 1;
            &:hover{
                scale: 1.1;
            }
        }
    }
}
.home-vacancies{
    padding-top: 106px;
    h2{
        margin-bottom: 105px;
    }
    .btn{
        display: block;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: clamp(0.75rem, calc(-1.21rem + 9.82vw), 4.88rem);
    }
}

.vacancies-card{
        border-radius: 20px;
        overflow: hidden;
        background-color: var(--background);
        margin-bottom: clamp(1rem, calc(0.29rem + 3.57vw), 2.5rem);
        img{
            position: relative;
            width: 100%;
            max-height: 165px;
            object-fit: cover;
            scale: 1;
            transition: all 0.3s ease;
            z-index: 1;
            &:hover{
                scale: 1.1;
            }
        }
        &__wrapper{
            padding: 8px;
            background-color: var(--background);
            position: relative;
            z-index: 2;
        }
        &__inner{
            padding: 12px 14px;
            border: 1px solid #D9D9D9;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            ul {
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 9px;
            &>li{
                display: block;
                list-style: none;
                font-size: 16px;
                min-height: 24px;
                &>ul {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                }
            }   
        }
     }
     a{
        position: relative;
        padding-bottom: 7px;
        transition: all 0.3s ease;
        &::after{
            position: absolute;
            content: "";
            width: 0;
            height: 1px;
            background-color: var(--accent-color);
            bottom: 0;
            left: 0;
            transition: all 0.3s ease;
        }
        &:hover{
            color: var(--accent-color);
        }
        &:hover::after{
            width: 100%;
        }
     }
}
.feedback {
    position: relative;
    margin-top: clamp(2.5rem, calc(0.54rem + 9.82vw), 6.63rem);
    padding: clamp(2.5rem, calc(1.31rem + 5.95vw), 5rem) 0 clamp(2.5rem, calc(0.71rem + 8.93vw), 6.25rem);
    color: var(--dark-text);
    background-color: #B2BBF4;
    .container{
        position: relative;
        z-index: 2;
    }
    &__bg{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        img{
            position: absolute;
            height: 100%;
            opacity: 0.8;
        }
        picture:nth-child(1){
            right: 60vw;
            top: 0;
            bottom: 0;
        }
        picture:nth-child(2){
            left: 60vw;
            top: 0;
            bottom: 0;
        }
    }
    &__subtitle{
        margin-bottom: 34px;
        font-size: clamp(1rem, calc(0.76rem + 1.19vw), 1.5rem);
        max-width: 628px;
    }

}
footer{
    margin-top: auto;
    .contacts{
        padding: clamp(3.75rem, calc(2.68rem + 5.36vw), 6rem) 0 clamp(2.5rem, calc(1.79rem + 3.57vw), 4rem);
        h2{
            margin-bottom: clamp(2.5rem, calc(1.79rem + 3.57vw), 4rem);
        }
        ul{
            display: block;
            padding: 0;
            list-style: none;
        }
        li {
            display: block;
            min-height: 48px;
            font-weight: 300;
            color: var(--dark-text);
            &::after {
                transform: translateY(0) !important;
                top: 0px !important;
            }
            span {
                display: inline-block;
            }
        }
        &__illustration{
            display: block;
            max-width: 356px;
            margin-left: auto;
            margin-top: -30%;
            svg{
                width: 100%;
                height: auto;
            }
        }
    }
}
@media (max-width: 1600px) {
    .feedback {
        &__bg{
            opacity: 0.5;
            picture:nth-child(1){
                left: -16%;
                right: auto;
                top: 0;
                bottom: 0;
            }
            picture:nth-child(2){
                left: auto;
                right: -24%;
                top: 0;
                bottom: 0;
            }
        }
    
    }
}
@media (max-width: 956px){
    .feedback {
        background-color: #e4e7ff;
        &__bg{
            opacity: 0.4;
            picture:nth-child(1){
                left: -40px;
                right: auto;
                top: 0;
                bottom: 0;
                height: clamp(16.88rem, calc(15.39rem + 7.44vw), 20rem);
            }
            picture:nth-child(2){
                left: auto;
                right: -40px;
                top: 0;
                bottom: 0;
                height: clamp(16.88rem, calc(15.39rem + 7.44vw), 20rem);
            }
        }
    
    }
}
@media (max-width: 768px) {
    .contacts .contacts__illustration{
        display: none;
    }
    
}
.footer-wrapper{
    .container{
        position: relative;
        z-index: 5;
    }
    position: relative;
    &__map{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
    .footer{
        background-color: var(--dark-text);
        color: var(--background);
        height: 100%;
        padding-top: 30px;
        ul{
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 48px;
            li {
                display: inline-block;
                svg path{
                    transition: all 0.3s ease;
                }
                &:hover path {
                    fill: var(--accent-color);
                }
            }
        }
        &__wrapper{
            padding: clamp(2.5rem, calc(0.65rem + 9.23vw), 6.38rem) 0;
            ul{
                display: block;
                li{
                    display: block;
                    &:not(:last-child){
                        margin-bottom: 16px;
                    }
                    a{
                        font-size: 16px;
                        font-weight: 300;
                        color: var(--background);
                        transition: all 0.3s ease;
                        &:hover{
                            color: var(--accent-color);
                        }
                    }
                }
            }
        }
        &__copy{
            padding: 18px 0;
            font-size: 12px;
            font-weight: 300;
            border-top: 1px solid var(--text-color);
        }
    }
}
@media screen and (max-width: 768px) {
    .footer-wrapper__map{
        top: auto;
        bottom: 26%;
    }
    
}
@media screen and (max-width: 440px) {
    .footer-wrapper .contacts ul{
        text-align: left !important;
    }
    .footer-wrapper .row{
        align-items: center;
        text-align: center;

        .footer-logo{
            width: 128px;
            img{
                width: 100%;
            }
        }
    }
    .footer-wrapper .footer ul{
        justify-content: space-between;
        gap: 12px;
    }
}