@import "reset";
@import "fonts";
:root {
    --main-color: #572C6B;
    --accent-color: #F3822D;
    --background: #FAFAFA;
    --background-header: rgba(250, 250, 250, 0.8);
    --text-color: #808080;
    --dark-text: #464646;
}

body{
    font-family: "Unbounded", sans-serif;
    height: 100%;
    color: var(--text-color);
}

h1{
    font-family: "Gilroy", sans-serif;
    font-size: 68px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main{
    flex: 1 1 auto;
}

// .container{
//     max-width: 1340px;
//     padding: 0 10px;
//     margin: 0 auto;
// }


.btn{
    padding: 21px 58px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    &--primary {
        background-color: var(--main-color);
        color: var(--background);
        border: 1px solid var(--main-color);
        border-radius: 4px;
        transition: all 0.3s ease;
        &:hover{
            background-color: transparent;
            color: var(--main-color);
        }
    }
    &--secondary {
        background-color: transparent;
        color: var(--main-color);
        border: 1px solid var(--main-color);
        border-radius: 4px;
        transition: all 0.3s ease;
        &:hover{
            background-color: var(--main-color);
            color: var(--background);
        }
    }
}


// ========== HEADER ==========
.header{
    padding: 18px 0;
    position: fixed;
    width: 100%;
    background-color: var(--background-header);
    backdrop-filter: blur(10px);
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    ul, li{
        margin: 0;
        padding: 0;
    }
    .menu{
        display: flex;
        gap: 30px;
        list-style: none;
        font-size: 16px;
        line-height: 110%;
        color: var(--main-color);
        text-transform: uppercase;
        transition: all 0.3s ease;
        a:hover{
            color: var(--accent-color);
        }
    }
    &__btn{
        padding: 12px 30px;
        font-weight: 500;
        border: 1px solid var(--main-color);
        border-radius: 25px;
        color: var(--main-color);
        transition: all 0.3s ease;
        &:hover{
            background-color: var(--main-color);
            color: #fff;
        }
    }
}

// ========== HERO ==========

.hero{
    padding-top: 145px;
    padding-bottom: 170px;
    margin-bottom: 178px;
    background-color: var(--background);
    .container {
        position: relative;
    }
    h1{
        color: var(--main-color);
        margin-bottom: 36px;
    }
    &__info{
        max-width: 694px;
    }
    &__title{
        font-size: 24px;
        margin-bottom: 56px;
    }
    &__search{
        position: relative;
        width: 100%;
        padding: 28px 100px 28px 36px;
        border: none;
        background-color: #fff;
        border-radius: 40px;
        outline: none;
        z-index: 1;
        >input[type="text"]{
            width: 100%;
            border: none;
            outline: none;
            font-size: 18px;
            color: var(--dark-text);
        }
        .hero__search--btn{
            position: absolute;
            top: 9px;
            right: 10px;
            z-index: 2;
            >input[type="button"]{
                border: none;
                background-color: var(--main-color);
                width: 67px;
                height: 67px;
                border-radius: 50%;
            }
            &::after{
                position: absolute;
                display: block;
                content: "";
                background: url('data:image/svg+xml,<svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.6185 0C11.3554 0 4.65602 6.69818 4.65602 14.9613C4.65602 17.8973 5.50144 20.636 6.9626 22.9468C6.95187 22.9515 6.94134 22.9557 6.93058 22.9606L0.420288 29.4697L5.95058 35L12.6953 28.2541C12.6933 28.2446 12.6906 28.2351 12.6885 28.2255C14.7604 29.3103 17.1179 29.9237 19.6185 29.9237C27.8817 29.9237 34.5798 23.2245 34.5798 14.9613C34.5797 6.69818 27.8816 0 19.6185 0ZM19.6185 6.64641C24.2105 6.64641 27.9322 10.3692 27.9322 14.9613C27.9322 19.5533 24.2105 23.2761 19.6185 23.2761C15.0264 23.2761 11.3036 19.5533 11.3036 14.9613C11.3036 10.3692 15.0264 6.64641 19.6185 6.64641Z" fill="white"/></svg>');
                width: 35px;
                height: 35px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 3;
                pointer-events: none;
            }
        }
        .options{
            position: absolute;
            background-color: #fff;
            width: 100%;
            left: 0;
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                display: block;
                margin-right: 20px;
                font-size: 18px;
                cursor: pointer;
                margin-top: 14px;
                margin-left: 38px;
                transition: all 0.3s ease;
                &:hover{
                    color: var(--accent-color);
                }
            }
        }
        &::placeholder{
            font-size: 18px;
            line-height: 18px;
            color: var(--main-color);
        }
        &::after{
            position: absolute;
            display: block;
            content: "";
            background: url('data:image/svg+xml,<svg width="19" height="11" viewBox="0 0 19 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.11759 0.176483C1.81515 0.176548 1.51951 0.266281 1.26806 0.434339C1.01661 0.602398 0.820634 0.841236 0.704903 1.12066C0.589173 1.40008 0.558885 1.70754 0.617871 2.00418C0.676857 2.30081 0.822467 2.5733 1.03629 2.78719L8.68335 10.4342C8.97016 10.721 9.3591 10.882 9.76465 10.882C10.1702 10.882 10.5591 10.721 10.8459 10.4342L18.493 2.78719C18.7068 2.5733 18.8524 2.30081 18.9114 2.00418C18.9704 1.70754 18.9401 1.40008 18.8244 1.12066C18.7087 0.841236 18.5127 0.602398 18.2612 0.434339C18.0098 0.266281 17.7141 0.176548 17.4117 0.176483H2.11759Z" fill="%23572C6B"/></svg>') no-repeat center center;
            z-index: 2;
            width: 19px;
            height: 11px;
            right: 100px;
            top: 40px;
        }
    }
    &__countries {
        margin-top: 38px;
        display: inline-flex;
        gap: 18px;
        flex-wrap: wrap;
        margin-bottom: 44px;
        &--link{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-size: 16px;
            line-height: 16px;
            font-weight: 500;
            color: var(--accent-color);
            padding: 12px 30px;
            border: 2px solid var(--accent-color);
            border-radius: 22px;
            transition: all 0.3s ease;
            &:hover{
                background-color: var(--accent-color);
                color: #fff;  
            }
        }
    }
    &__btns{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
    }
    &__picture{
        position: absolute;
        right: 0;
        top: -64px;
        width: 576px;
        height: 721px;
        img{
            position: relative;
            border-radius: 24px;
            transform: rotate(7deg);
            transform-origin: bottom left;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 2;
        }
        div {
            position: absolute;
            top: 0;
            left: 0;
            width: 576px;
            height: 721px;
            border-radius: 24px;
            &:nth-child(2){
                transform: rotate(10deg);
                transform-origin: bottom left;
                background-color: var(--main-color);
                z-index: 1;
            }
            &:nth-child(3){
                transform: rotate(13deg);
                transform-origin: bottom left;
                background-color: var(--accent-color);
                z-index: 0;
            }
        }
        &>div:nth-child(1){
            transform: rotate(15deg);
            transform-origin: bottom left;
            background-color: var(--main-color);
        }
    }
}

.footer{
    margin-top: auto;
}
